.animals {
    position: absolute;
    height: 70%;
    width: 90%;
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.animal {
    min-width: 350px;
    border-radius: 40px;
    overflow: hidden;
    margin-bottom: 40px;
    height: 350px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    transition: transform 0.3s ease;
}

.animal:hover {
    transform: translateY(-20px);
}

.animal h2 {
    position: absolute;
    text-shadow: 5px 5px 5px #111;
    font-size: 55px;
    letter-spacing: 3px;
}

.animal img {
    color: var(--color-white);
    position: absolute;
    width: auto;
}