.presentation {
    height: 60%;
    width: 80%;
    display: flex;
    justify-content: left;
    flex-direction: column;
    align-items: flex-start;
}

.background {
    filter: none;
}

.background-filter {
    background-color: var(--color-transparent-dark-grey);
    position: absolute;
    height: 100vh;
    width: 50vw;
    left: 0;
}

.scientific-name {
    position: relative;
    font-size: 22px;
}

.name {
    position: relative;
    font-size: 80px;
}

.description {
    position: relative;
    width: 30%;
}