/* FUENTES */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/* REINICIAR ESTILOS */
*,
*::before,
*::after {
    box-sizing: border-box;
    text-decoration: none;
    user-select: none;
    list-style: none;
    padding: 0;
    margin: 0;
    border: 0;
}

/* VARIABLES */
:root {
    --color-white: #f0ffff;
    --color-light-blue: #75AADB;
    --color-transparent-grey: rgba(20, 20, 20, 0.5);
    --color-transparent-dark-grey: rgba(20, 20, 20, 0.6);
}

/* GENERAL */
.header {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    color: var(--color-white);
    font-family: Helvetica;
}

/* NAVBAR */
.navbar {
    position: absolute;
    height: 70px;
    width: 100%;
    left: 0;
    top: 0;
    gap: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .local-link {
    cursor: pointer;
    position: relative;
    font-size: 19px;
}

.local-link::after {
    /* Subrayado en links */
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    bottom: -1px;
    background: var(--color-light-blue);
    transform: scale(0, 1);
    transition: transform 0.3s ease;
}

.local-link:hover::after {
    transform: scale(1, 1);
}

/* BACKGROUND */
.background {
    filter: brightness(0.3);
    position: fixed;
    object-fit: cover;
    height: 100vh;
    width: 100vw;
}

/* TITLE */
.title {
    font-size: 80px;
    position: absolute;
    font-family: 'Pacifico', cursive;
}

.title span {
    color: var(--color-light-blue);
}

/* MEDIA */
.media {
    position: absolute;
    height: 100%;
    width: 200px;
    left: 0;
    top: 0;
    gap: 70px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.media .media-link {
    border-radius: 50%;
    background-color: var(--color-transparent-grey);
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.media-link .logo {
    color: var(--color-white);
    font-size: 50px;
}

/* FEATURES */
.features {
    position: absolute;
    height: 200px;
    width: 100%;
    left: 0;
    bottom: 0;
    gap: 70px;
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    justify-content: center;
}

.feature-card {
    background-color: var(--color-transparent-grey);
    border-radius: 30px 30px 0 0;
    backdrop-filter: blur(6px);
    transition: all 0.5s ease;
    height: 60px;
    width: 350px;
    display: flex;
    overflow: hidden;
    justify-content: center;
}

.feature-card:hover {
    height: 200px;
}

.feature-header {
    position: absolute;
    height: 60px;
    width: 75%;
    gap: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.feature-icon {
    color: var(--color-white);
    font-size: 20px;
}

.feature-header .feature-title {
    font-size: 18px;
}

.feature-card .description {
    margin-top: 70px;
    width: 75%;
}